.wrapper {
  background: rgb(175, 175, 175);
  height: 100%;
  flex-flow: row wrap;
  overflow: auto;
  padding-bottom: 50px;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRLPs6sz_pbI8wlgMATr5_SACjTu8XCNyCrd14mc61eZoLzS9MC");
}

#opacity {
  background: rgba(175, 175, 175, 0.534);
  margin: 25px;

}