* {
  box-sizing: border-box;
}

html, body, #root {
  padding: 0;
  margin: 0;
  height: 100%;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRLPs6sz_pbI8wlgMATr5_SACjTu8XCNyCrd14mc61eZoLzS9MC");

}

