nav {
  width: 100%;
  font-size: 3rem;
  color: black;
  margin-bottom: 50px;
  height: auto;
}

a {
  color: black;
}


nav li {
  display: inline-block;
  padding: 26px 0;
  width: 25%;
}

ul {
  display: flex;
  align-items: center;
}

#score {
  background-color: rgba(77, 73, 73, 0.822);
}

#instructions {
  font-size: 15px;
}